{% extends "base.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ super() }}
        <span class="govuk-caption-xl">Demonstration</span>
        <h1 class="govuk-heading-xl">GOV.UK Frontend WTForms</h1>
        <p class="govuk-body-l">
            This is a simple <a href="https://www.python.org/" class="govuk-link">Python</a> application
            using the <a href="https://flask.palletsprojects.com/en/1.1.x/" class="govuk-link">Flask</a> framework that
            demonstrates using <a href="https://wtforms.readthedocs.io/en/2.3.x/" class="govuk-link">WTForms</a> widgets with
            <a href="https://frontend.design-system.service.gov.uk/" class="govuk-link">GOV.UK Frontend</a>.
        </p>

        <p class="govuk-body"><a href="https://github.com/LandRegistry/govuk-frontend-wtf" class="govuk-link">GOV.UK Frontend WTForms</a> is a set of <a href="https://wtforms.readthedocs.io/en/2.3.x/widgets/" class="govuk-link">WTForms widgets</a> used to render <a href="https://wtforms.readthedocs.io/en/2.3.x/fields/" class="govuk-link">WTForm fields</a> using <a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Frontend</a> component styling. This is done using Jinja macros from the <a href="https://github.com/LandRegistry/govuk-frontend-jinja" class="govuk-link">GOV.UK Frontend Jinja</a> port of the original GOV.UK Frontend Nunjucks macros.</p>
        <p class="govuk-body">The ported component macros are kept up-to-date with GOV.UK Frontend releases, are thoroughly tested and produce 100% equivalent markup. They can be used throughout your Python projects alongside GOV.UK Frontend WTForms, or standalone.</p>
        <p class="govuk-body">This approach also renders the associated error messages in the appropriate place, shows the error summary component at the top of the page and sets all related accessibility ARIA attributes. Adding the appropriate <a href="https://github.com/LandRegistry/govuk-frontend-wtf#widgets" class="govuk-link">widget</a> to your existing form Python class, along with far simpler templates, makes it quick and easy to produce fully GOV.UK compliant forms.</p>

        <h2 class="govuk-heading-l">Example forms</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="{{ url_for('demo.bank_details') }}">Bank details</a></li>
            <li><a class="govuk-link" href="{{ url_for('demo.create_account') }}">Create an account</a></li>
            <li><a class="govuk-link" href="{{ url_for('demo.kitchen_sink') }}">Kitchen sink</a></li>
        </ul>
    </div>
</div>
{% endblock %}