{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}

{% block pageTitle %}{% if form.errors %}Error: {% endif %}Create an account – GOV.UK Frontend WTForms Demo{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    'text': "Back",
    'href': url_for('index')
  }) }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <li><a href="#{{field}}">{{error}}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<h1 class="govuk-heading-l">Create an account</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="" method="post" novalidate>
            {{form.csrf_token}}
            
            <!--First name-->
            <div class="govuk-form-group {% if form.first_name.errors %}govuk-form-group--error{% endif %}">
                {{form.first_name.label(class="govuk-label")}}
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                    <span id="first_name_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.first_name(class="govuk-input govuk-input--error", spellcheck="false", autocomplete="given-name", aria_describedby="first_name_error")}}
                {% else %}
                    {{form.first_name(class="govuk-input", spellcheck="false", autocomplete="given-name")}}
                {% endif %}
            </div>

            <!--Last name-->
            <div class="govuk-form-group {% if form.last_name.errors %}govuk-form-group--error{% endif %}">
                {{form.last_name.label(class="govuk-label")}}
                {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                    <span id="last_name_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.last_name(class="govuk-input govuk-input--error", spellcheck="false", autocomplete="family-name", aria_describedby="last_name_error")}}
                {% else %}
                    {{form.last_name(class="govuk-input", spellcheck="false", autocomplete="family-name")}}
                {% endif %}
            </div>

            <!--National Insurance number-->
            <div class="govuk-form-group {% if form.national_insurance_number.errors %}govuk-form-group--error{% endif %}">
                {{form.national_insurance_number.label(class="govuk-label")}}
                <div id="national_insurance_number_hint" class="govuk-hint">{{form.national_insurance_number.description}}</div>
                {% if form.national_insurance_number.errors %}
                    {% for error in form.national_insurance_number.errors %}
                    <span id="national_insurance_number_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.national_insurance_number(class="govuk-input govuk-input--width-10 govuk-input--error", spellcheck="false", aria_describedby="national_insurance_number_hint national_insurance_number_error")}}
                {% else %}
                    {{form.national_insurance_number(class="govuk-input govuk-input--width-10", spellcheck="false", aria_describedby="national_insurance_number_hint")}}
                {% endif %}
            </div>

            <!--Email address-->
            <div class="govuk-form-group {% if form.email_address.errors %}govuk-form-group--error{% endif %}">
                {{form.email_address.label(class="govuk-label")}}
                <div id="email_address_hint" class="govuk-hint">{{form.email_address.description}}</div>
                {% if form.email_address.errors %}
                    {% for error in form.email_address.errors %}
                    <span id="email_address_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.email_address(class="govuk-input govuk-input--error", type="email", spellcheck="false", aria_describedby="email_address_hint email_address_error", autocomplete="email")}}
                {% else %}
                    {{form.email_address(class="govuk-input", type="email", spellcheck="false", aria_describedby="email_address_hint", autocomplete="email")}}
                {% endif %}
            </div>

            <!--Telephone number-->
            <div class="govuk-form-group {% if form.telephone_number.errors %}govuk-form-group--error{% endif %}">
                {{form.telephone_number.label(class="govuk-label")}}
                {% if form.telephone_number.errors %}
                    {% for error in form.telephone_number.errors %}
                    <span id="telephone_number_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.telephone_number(class="govuk-input govuk-input--width-20 govuk-input--error", spellcheck="false", aria_describedby="telephone_number_hint telephone_number_error", type="tel", autocomplete="tel")}}
                {% else %}
                    {{form.telephone_number(class="govuk-input govuk-input--width-20", spellcheck="false", aria_describedby="telephone_number_hint", type="tel", autocomplete="tel")}}
                {% endif %}
            </div>

            <!--Password-->
            <div class="govuk-form-group {% if form.password.errors %}govuk-form-group--error{% endif %}">
                {{form.password.label(class="govuk-label")}}
                <div id="password_hint" class="govuk-hint">{{form.password.description}}</div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <span id="password_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.password(class="govuk-input govuk-input--error", spellcheck="false", aria_describedby="password_hint password_error")}}
                {% else %}
                    {{form.password(class="govuk-input", spellcheck="false", aria_describedby="password_hint")}}
                {% endif %}
            </div>

            <!--Confirm password-->
            <div class="govuk-form-group {% if form.confirm_password.errors %}govuk-form-group--error{% endif %}">
                {{form.confirm_password.label(class="govuk-label")}}
                <div id="confirm_password_hint" class="govuk-hint">{{form.confirm_password.description}}</div>
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                    <span id="confirm_password_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                    {{form.confirm_password(class="govuk-input govuk-input--error", spellcheck="false", aria_describedby="confirm_password_hint confirm_password_error")}}
                {% else %}
                    {{form.confirm_password(class="govuk-input", spellcheck="false", aria_describedby="confirm_password_hint")}}
                {% endif %}
            </div>
  
            <!--Terms and conditions-->
            <div class="govuk-form-group {% if form.terms_and_conditions.errors %}govuk-form-group--error{% endif %}">
                {% if form.terms_and_conditions.errors %}
                <fieldset class="govuk-fieldset" aria-describedby="terms_and_conditions_error">
                    <legend class="govuk-fieldset__legend">Terms and conditions</legend>
                    {% for error in form.terms_and_conditions.errors %}
                    <span id="terms_and_conditions_error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{error}}
                    </span>
                    {% endfor %}
                
                {% else %}
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">Terms and conditions</legend>
                {% endif %}
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            {{form.terms_and_conditions(class="govuk-checkboxes__input", type="checkbox", value="yes")}}
                            {{form.terms_and_conditions.label(class="govuk-label govuk-checkboxes__label")}}
                        </div>
                    </div>
                </fieldset>
            </div>
            {{form.submit(class="govuk-button", data_module="govuk-button")}}
        </form>
    </div>
</div>
{% endblock %}