{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Demonstration</span>
        <h1 class="govuk-heading-xl">GOV.UK Frontend WTForms</h1>
        <p class="govuk-body-l">
            This is a simple <a href="https://www.python.org/" class="govuk-link">Python</a> application
            using the <a href="https://flask.palletsprojects.com/en/1.1.x/" class="govuk-link">Flask</a> framework that
            demonstrates the <a href="https://wtforms.readthedocs.io/en/2.3.x/" class="govuk-link">WTForms</a> port of
            <a href="https://frontend.design-system.service.gov.uk/" class="govuk-link">GOV.UK Frontend</a>.
        </p>
        {{ govukNotificationBanner(
        {'html': '<h3 class="govuk-notification-banner__heading">This is work in progress</h3>
        <p class="govuk-body">This app is being developed alongside a new package to help test and prove it.
            Some parts of it may not work correctly yet, or may be changed and removed without warning.</p>'}
        ) }}

        {{ govukInsetText({'html': '<p class="govuk-body">GOV.UK Frontend WTForms uses <a href="https://govuk-frontend-jinja.herokuapp.com/" class="govuk-link">GOV.UK Frontend Jinja</a> to provide a complete set of thoroughly tested and 100% compliant Jinja macros. These component macros can be used throughout your Python projects.</p>'} ) }}
        
        <h2 class="govuk-heading-l">Forms</h2>
        <h3 class="govuk-heading-m">Created with basic WTForms fields</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="{{ url_for('bank_details') }}">Bank details</a></li>
            <li><a class="govuk-link" href="{{ url_for('create_account') }}">Create an account</a></li>
        </ul>

        <h3 class="govuk-heading-m">Created with GOV.UK Frontend WTForms Widgets</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="{{ url_for('gov_bank_details') }}">Bank details</a></li>
        </ul>
    </div>
</div>
{% endblock %}